@use "variables" as *;

*, :root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $text-color;
  background-color: $bg-color;
  &.rtl {
    direction: rtl;
  }
}

// custom scrollbar
body::-webkit-scrollbar, *::-webkit-scrollbar {
  width: 0.9375rem;
}

body::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 0.0625rem solid #dadada;
}

body::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 0.1875rem #e6e6e6;
  border-radius: 0.4375rem;
}

body::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
//end custom scrollbar


a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}
