.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-capital {
  text-transform: capitalize;
}

.mt-20 {
  margin-top: 20px;
}

.w-full {
  width: 100%;
} 

.p-toast-top-right {
  @media (max-width: 767px) {
    right: 0px !important;
  }
}